<!DOCTYPE html>
<html>
    <head>
        <title>FPT EDUCATION</title>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <header>
            <img src="/img/logo.png" alt="FPT">
        </header>
        {{{body}}}
    </body>
</html>