<!DOCTYPE html>
<html>
    <head>
        <title>FPT EDUCATION</title>
    </head>
    <body>
        <header>
            <img src="/img/logo.png" alt="FPT">
        </header>
        {{{body}}}
    </body>
</html>